/* CSS Reset Inspired By: Josh Comeau And Andy Bell's Modern CSS Resets
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * https://piccalil.li/blog/a-more-modern-css-reset/
 */

/*
  1. Use a more-intuitive box-sizing model.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin and padding in favour of better control in authored CSS
 */
* {
  margin: 0;
  padding: 0;
}

/*
  3. Prevent font size inflation
 */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/*
  4. Set core body defaults and improve text rendering
 */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  accent-color: inherit;
}

/*
  5. Set shorter line heights on headings and interactive elements
 */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/*
  6. Balance text wrapping on headings
 */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/*
  7. Remove list styles on ul, ol elements with a list role
 */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/*
  8. Make images and media elements easier to work with
 */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  9. Inherit fonts for inputs and buttons
 */
input,
button,
textarea,
select {
  font: inherit;
  font-family: inherit;
  font-size: inherit;
}

/*
  10. Ensure form elements and buttons have a consistent appearance
 */
button,
input,
select,
textarea {
  background: none;
  appearance: none;
}

/*
  11. Make sure textareas without a rows attribute are not tiny
 */
textarea:not([rows]) {
  min-height: 10em;
}

/*
  12. Avoid text overflows
 */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  13. Create a root stacking context
 */
#root,
#__next {
  isolation: isolate;
}

/*
  14. Ensure elements anchored to have extra scroll margin
 */
:target {
  scroll-margin-block: 5ex;
}

/*
  15. Default styles for unstyled anchor elements
 */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
